body { color: white;}
body { background-color: black;}
#paella { text-align: center; text-decoration-line: underline;}
.primerparrafo { color: yellow;}
#subtitulo  { font-size: x-large; text-decoration-line: underline;}
#foto   { height: 200px; width: 25%;}
